#!/sbin/runscript
# Copyright 2009 Chris Gianelloni
# Distributed under the terms of the GNU General Public License, v2 or later
# $Id$

PIDFILE=/var/run/mysql-agent.pid

depend() {
	need mysql snmpd logger
}

start() {
	ebegin "Starting MySQL SNMP Agent"
	start-stop-daemon --start -q --pidfile ${PIDFILE} --exec /usr/sbin/mysql-snmp -- -d --daemon-pid ${PIDFILE} ${DAEMON_OPTS}
	eend $?
}

stop() {
	ebegin "Stopping MySQL SNMP Agent"
	start-stop-daemon --stop -q --pidfile ${PIDFILE}
	eend $?
}
